<ion-header>
  <ion-navbar>
    <ion-title>
      非常時持ち出し備品
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div  padding-left  padding-right padding-top>
    <div class="w-check-list" *ngFor="let checkList of checkListes let s = index">
      <div class="c-check-list">
        <div class="title">{{checkList.category}}</div>
        <div class="w-list" *ngFor="let checkItem of checkList.items let i = index">
            <ion-item *ngIf ="checkItem.hide == false || checkItem.hide == null" (tap)="listSave(checkItem.check,s,i)">
              <ion-label>{{checkItem.name}}
                <small class="notes">{{checkItem.sub}}</small>
              </ion-label>
              <ion-checkbox color="secondary" checked="{{checkItem.check}}"></ion-checkbox>
            </ion-item>
            <button class="submit" *ngIf ="checkItem.hide == false || checkItem.hide == nul" color="dark" ion-button icon-only (tap)="listHide(s,i,checkItem.name)"><ion-icon name="trash"></ion-icon></button>
        </div>
      </div>
    </div>
  </div>
    <!--<div class="w-check-list">-->
      <!--<div class="c-check-list">-->
        <!--<div class="title">自分専用</div>-->
        <!--<ion-item *ngFor="let customList of customListes let i = index" (tap)="listSave(checkItem.check,s,i)">-->
          <!--<ion-label>{{customList.name}}</ion-label>-->
          <!--<ion-checkbox color="secondary" checked="{{checkItem.check}}"></ion-checkbox>-->
        <!--</ion-item>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <footer class="c-footer">
    <small>作った人 <a href="https://twitter.com/maki_saki">@maki_saki</a></small>
  </footer>

</ion-content>

