// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.w-check-list{
  margin-bottom: 8*3px;

}

.c-check-list{
  .title{
    font-size: 18px;
    font-weight: bold;
    color: #607d8b;
    border-bottom: 1px solid #c8c7cc;
    margin-bottom: 8px;
    padding-bottom: 8px;
  }
  .notes{
    display: block;
    font-size: 12px;
    color: #607d8b;
  }
  .button{
    padding: 0 .8em;
    max-height: 36px;
  }

  .w-list{
    display: flex;
    //flex-direction: column;
    //justify-content: center;
    align-items: center;
  }
  .item-cover{

  }
}
.c-footer{
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background: #eceff1;
}